---
const pageTitle = "About";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>And what do I hope to accomplish with this?</h2>
  <p>This is where my about section will be.</p>
</BaseLayout>
