---
import MarkdownPost from "../components/MarkdownPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob("./fcc/*.md", { eager: true }));
const pageTitle = "FreeCodeCamp Activity Log";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is what I've worked on for FreeCodeCamp.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <MarkdownPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
