---
import { getCollection } from "astro:content";
import MarkdownPost from "../components/MarkdownPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const personalPosts = await getCollection("personal");
const pageTitle = "Personal Activity Log";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is what I've been up to</p>
  <ul>
    {
      personalPosts.map((post: any) => (
        <MarkdownPost url={`${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
