---

---

<div class="nav-links">
  <a href="/activity-log/">Home</a>
  <a href="/activity-log/about/">About</a>
  <a href="/activity-log/fcc/">FreeCodeCamp</a>
  <a href="/activity-log/personal/">Personal</a>
</div>
